@using LeaveManagement_WebMVC.Models.LeaveType;
@model UpdateLeaveTypeModel

@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Update Leave Type</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Update">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DefaultDays" class="control-label"></label>
                <input asp-for="DefaultDays" class="form-control" />
                <span asp-validation-for="DefaultDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateModified" class="control-label"></label>
                <input asp-for="DateModified" class="form-control" />
                <span asp-validation-for="DateModified" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group" style="margin-top:20px">
                <input onclick="dsds" type="submit" value="Save Changes" class="btn btn-primary" />
                <input asp-action="Index" type="submit" value="Cancel" class="btn btn-danger" />
            </div>
        </form>
    </div>
</div>

